@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
     font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
	background: #FCB13D;
}
.container {
	width: 1020px;
	margin: 0 auto;
}
.header {
	background: #FCC83D;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	
}
.nav {
	background: #FFE131;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FC923D;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #FFCA3D;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
body {
     font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
     background-color: #FFFFFF;
     margin: 0;
     padding: 0;
     color: #000;
}

a:link {
     color: #000000;
}
a:visited {
     color: #000000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
